streamlit
numpy
pandas
streamlit_float
openai
polars
plotly
scikit-learn
matplotlib
dice-ml
streamlit_option_menu
lightgbm
pydantic==1.10.2
pydantic_core

langchainhub
langchain
langchain-openai
streamlit-analytics2
streamlit-cookies-controller
firebase_admin